@model DiplomadoFinal.Models.Calificacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Calificacion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion_Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion_Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncripcionCurso.IncripcionCursoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncripcionCurso.IncripcionCursoID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
