@model IEnumerable<DiplomadoFinal.Models.Calificacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion_Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asignatura.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncripcionCurso.IncripcionCursoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion_Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncripcionCurso.IncripcionCursoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CalificacionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CalificacionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CalificacionID })
        </td>
    </tr>
}

</table>
