@model DiplomadoFinal.Models.IncripcionCurso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IncripcionCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncripcionCursoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
